<import: src="./home">
<import: src="./dashboard">
<import: src="./list">

<import: src="./register">
<import: src="./login">

<!--
  Derby templates are similar to Handlebars, except that they are first
  parsed as HTML, and there are a few extensions to make them work directly
  with models. A single HTML template defines the HTML output, the event
  handlers that update the model after user interaction, and the event handlers
  that update the DOM when the model changes.

  As in Handlebars, double curly braces output a value literally. Derby
  templates add single curly braces, which output a value and set up
  model <- -> view bindings for that object.

  Elements that end in colon define template names. Pre-defined templates
  are capitalized by convention, but template names are case-insensitive.
  Pre-defined templates are automatically included when the page is rendered.
-->

<Head:>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<Header:>
  <body class="{{dash($ns)}}">
  <derby-ui-toast:toast>
  <ui:connectionAlert>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggl="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">derby-auth</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <!-- Other templates are included like HTML elements -->
          <app:navLink title="Home" href="/">
          <app:navLink title="Dashboard" href="/dashboard">
          <app:navLink title="Register" href="/register">
          <app:navLink title="Login" href="/login">
        </ul>
      </div>
    </div>
  </div>
  <div class="pull-right">
    _irons.sessionId: {_irons.sessionId} <br />
    _irons.userId: {_irons.userId}
  </div>

<Footer:>
  <footer>
    <div class="container">
      <p>&copy; Company 2012</p>
    </div>
  </footer>

<navLink:>
  <li class="{{#if equal($url, @href)}}active{{/}}">
    <a href="{{@href}}">{{@title}}</a>
  </li>
